[submodule "libbson"]
	path = libbson
	url = https://github.com/mongodb/libbson.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "msgpack-c"]
	path = msgpack-c
	url = https://github.com/msgpack/msgpack-c.git
